.film-card{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    position: relative;
    margin-top: 20px;
}

.film-card-poster{
    width: 150px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 15px auto;
}

.film-card-info{
    margin-left: 30px;
}

.film-card-info h1 {
    margin-bottom: 5px; 
}

.film-card-info p {
    margin-top: 0; 
}

.director{
    margin-top: 10px;
    margin-right: 40px;
    display: flex;
    width: 250px;
    align-items: center;
}

.release-year{
    width: 250px;
    display: flex;
    align-items: center;
}

.film-card-info-details{
    display: flex;
    margin-top: 10px;
}

.film-info-icon{
    height: 30px;
    margin-right: 10px;
}

.film-rating{
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.film-card-description{
    margin-right: 40px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}