.film-card{
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    margin-top: 20px;
    background: linear-gradient(to right, #E6ECF3, #D9E2EC);
}

.film-card-poster{
    width: 160px;
    height: 220px;
    object-fit: cover;
    display: block;
    margin: 15px auto;
    border-radius: 12px;
    border: 3px solid #fff;
    transition: transform 0.3s ease-in-out;
}

.film-card-poster:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.film-card-info{
    margin-left: 30px;
}

.film-card-info h1 {
    margin-bottom: 5px; 
     font-size: 1.8rem;
    font-weight: 700;
    color: #333;
}

.film-card-info p {
    margin-top: 0; 
}

.director{
    margin-top: 10px;
    margin-right: 40px;
    display: flex;
    width: 250px;
    align-items: center;
}

.release-year{
    width: 250px;
    display: flex;
    align-items: center;
    padding-top: 11px;
}

.film-card-info-details{
    display: flex;
    margin-top: 10px;
}

.film-info-icon{
    height: 30px;
    margin-right: 10px;
}

.film-rating{
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.film-card-description{
    margin-right: 40px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.film-card-delete{
    position: absolute;
    bottom: 10px;
    right: 10px;
}